In [11]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

In [19]:
#Read the csv file
file_path = ("Resources/parkinsons_disease_data.csv")
park_df = pd.read_csv(file_path)
park_df.head()

,PatientID,Age,Gender,Ethnicity,EducationLevel,BMI,Smoking,AlcoholConsumption,PhysicalActivity,DietQuality,...,FunctionalAssessment,Tremor,Rigidity,Bradykinesia,PosturalInstability,SpeechProblems,SleepDisorders,Constipation,Diagnosis,DoctorInCharge
0,3058,85,0,3,1,19.619878,0,5.108241,1.380660,3.893969,...,1.572427,1,0,0,0,0,0,0,0,DrXXXConfid
1,3059,75,0,0,2,16.247339,1,6.027648,8.409804,8.513428,...,4.787551,0,1,0,1,0,1,0,1,DrXXXConfid
2,3060,70,1,0,0,15.368239,0,2.242135,0.213275,6.498805,...,2.130686,1,0,0,0,1,0,1,1,DrXXXConfid
3,3061,52,0,0,0,15.454557,0,5.997788,1.375045,6.715033,...,3.391288,1,1,1,0,0,0,1,1,DrXXXConfid
4,3062,87,0,0,1,18.616042,0,9.775243,1.188607,4.657572,...,3.200969,0,0,0,1,0,1,0,0,DrXXXConfid

In [20]:
#dropping any rows with the missing values
park_df.dropna(axis=0, how='any')
park_df.head()

,PatientID,Age,Gender,Ethnicity,EducationLevel,BMI,Smoking,AlcoholConsumption,PhysicalActivity,DietQuality,...,FunctionalAssessment,Tremor,Rigidity,Bradykinesia,PosturalInstability,SpeechProblems,SleepDisorders,Constipation,Diagnosis,DoctorInCharge
0,3058,85,0,3,1,19.619878,0,5.108241,1.380660,3.893969,...,1.572427,1,0,0,0,0,0,0,0,DrXXXConfid
1,3059,75,0,0,2,16.247339,1,6.027648,8.409804,8.513428,...,4.787551,0,1,0,1,0,1,0,1,DrXXXConfid
2,3060,70,1,0,0,15.368239,0,2.242135,0.213275,6.498805,...,2.130686,1,0,0,0,1,0,1,1,DrXXXConfid
3,3061,52,0,0,0,15.454557,0,5.997788,1.375045,6.715033,...,3.391288,1,1,1,0,0,0,1,1,DrXXXConfid
4,3062,87,0,0,1,18.616042,0,9.775243,1.188607,4.657572,...,3.200969,0,0,0,1,0,1,0,0,DrXXXConfid

In [21]:
#removing duplicates
park_df.drop_duplicates()
park_df.head()

,PatientID,Age,Gender,Ethnicity,EducationLevel,BMI,Smoking,AlcoholConsumption,PhysicalActivity,DietQuality,...,FunctionalAssessment,Tremor,Rigidity,Bradykinesia,PosturalInstability,SpeechProblems,SleepDisorders,Constipation,Diagnosis,DoctorInCharge
0,3058,85,0,3,1,19.619878,0,5.108241,1.380660,3.893969,...,1.572427,1,0,0,0,0,0,0,0,DrXXXConfid
1,3059,75,0,0,2,16.247339,1,6.027648,8.409804,8.513428,...,4.787551,0,1,0,1,0,1,0,1,DrXXXConfid
2,3060,70,1,0,0,15.368239,0,2.242135,0.213275,6.498805,...,2.130686,1,0,0,0,1,0,1,1,DrXXXConfid
3,3061,52,0,0,0,15.454557,0,5.997788,1.375045,6.715033,...,3.391288,1,1,1,0,0,0,1,1,DrXXXConfid
4,3062,87,0,0,1,18.616042,0,9.775243,1.188607,4.657572,...,3.200969,0,0,0,1,0,1,0,0,DrXXXConfid

In [23]:
#calculating the average age
avg_age = round(park_df['Age'].mean(),2)
avg_age

69.6

In [30]:
# Explicitly labeling smokers and non-smokers
num_smokers = park_df[park_df['Smoking'] == 1].shape[0]
num_non_smokers = park_df['Smoking'].shape[0]

print(f"Number of Smokers: {num_smokers}")
print(f"Number of Non-Smokers: {num_non_smokers}")

Number of Smokers: 624
Number of Non-Smokers: 2105

In [37]:
female = park_df[park_df['Gender'] == 1].shape[0]
male = park_df['Gender'].shape[0]
print(f"Number of Males: {male}")
print(f"Number of females: {female}")

Number of Males: 2105
Number of females: 1037

In [39]:
#avg BMi
avg_BMI = round(park_df['BMI'].mean(),2)
avg_BMI

27.21

## Symptom Analysis ##

In [34]:
#Tremor: Presence of tremor, where 0 indicates No and 1 indicates Yes.

tremor=park_df[park_df['Tremor']==1].shape[0]
non_tremor=park_df.shape[0] - tremor_shape
tremor_data = [
    {'Type': 'Tremor', 'Count': tremor_shape},
    {'Type': 'No Tremor', 'Count': non_tremor}
    ]

tremor_data

[{'Type': 'Tremor', 'Count': 909}, {'Type': 'No Tremor', 'Count': 1196}]

In [42]:
# Rigidity: Presence of muscle rigidity, where 0 indicates No and 1 indicates Yes.
Rigidity =park_df[park_df['Rigidity']==1].shape[0]
non_Rigidity =park_df.shape[0]

print(f"Number of count with Rigidity symptom: {Rigidity}")
print(f"Number of count without Rigidity Symptom: {non_Rigidity}")

Number of count with Rigidity symptom: 532
Number of count without Rigidity Symptom: 2105